[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rroad"]
	path = rroad
	url = https://github.com/vsimko/rroad
	shallow = true
	registered = true
